<li class="separator acl-write"></li>
<li class="acl-write hyperlink-icon">
    <a data-l10n-id="ep_embedded_hyperlinks.editbarButtons.hyperlink" title="Hyperlink">
        <span class="buttonicon buttonicon-star"></span>
    </a>
</li>

<style>
    .hyperlink-icon .buttonicon:before{
        top: 1px !important;
        position: relative;
    }
</style>

<!--<li class="separator acl-write"></li>-->

<!--<li data-type="button" data-key="commendation" data-l10n-id="ep_hyperlinks_weave.toolbar.commendation.title">-->
<!--    <a class="grouped-left ep_align" data-align="0" data-l10n-id="ep_hyperlinks_weave.toolbar.commendation.title"-->
<!--       title="Commendation"-->
<!--       aria-label="Align Left">-->
<!--        <button class="buttonicon buttonicon-star" data-align="0" aria-label="Align Left"></button>-->
<!--    </a>-->
<!--</li>-->

<!--<li data-type="button" data-key="recommendation" data-l10n-id="ep_hyperlinks_weave.toolbar.recommendation.title">-->
<!--    <a class="grouped-middle ep_align" data-align="1" data-l10n-id="ep_hyperlinks_weave.toolbar.recommendation.title"-->
<!--       title="Recommendation"-->
<!--       aria-label="Align Center">-->
<!--        <button class="buttonicon buttonicon-recommendation" data-align="1"-->
<!--                aria-label="Align Center"></button>-->
<!--    </a>-->
<!--</li>-->
