<hr>
<li><a href="#" data-key="align" class="font_color">Font Color</a>
    <ul class="submenu">
        <select class="color-selection">
            <option value="dummy" selected data-l10n-id="ep_hyperlinks_weave.color">Color</option>
            <option value="0" data-l10n-id="ep_hyperlinks_weave.black">black</option>
            <option value="1" data-l10n-id="ep_hyperlinks_weave.red">red</option>
            <option value="2" data-l10n-id="ep_hyperlinks_weave.green">green</option>
            <option value="3" data-l10n-id="ep_hyperlinks_weave.blue">blue</option>
            <option value="4" data-l10n-id="ep_hyperlinks_weave.yellow">yellow</option>
            <option value="5" data-l10n-id="ep_hyperlinks_weave.orange">orange</option>
        </select>
    </ul>
</li>
