<li class="separator acl-write"></li>

<li data-type="button" data-key="commendation" data-l10n-id="ep_commendation_recommendation_weave.toolbar.commendation.title">
    <a data-l10n-id="ep_commendation_recommendation_weave.toolbar.commendation.title"
       title="Commendation"
       aria-label="Commendation">
        <button class="buttonicon buttonicon-commendation" aria-label="Commendation"></button>
    </a>
</li>

<li data-type="button" data-key="recommendation" data-l10n-id="ep_commendation_recommendation_weave.toolbar.recommendation.title">
    <a data-l10n-id="ep_commendation_recommendation_weave.toolbar.recommendation.title"
       title="Recommendation"
       aria-label="Recommendation">
        <button class="buttonicon buttonicon-recommendation" aria-label="Recommendation"></button>
    </a>
</li>
