<li class="separator acl-write"></li>

<li data-type="button" data-key="commendation" data-l10n-id="ep_commendation_recommendation_weave.toolbar.commendation.title">
    <a data-l10n-id="ep_commendation_recommendation_weave.toolbar.commendation.title"
       class="a-buttonicon-commendation"
       title="Highlight"
       aria-label="Commendation">
        <button class="buttonicon buttonicon-commendation"></button>
    </a>
</li>

<li data-type="button" data-key="recommendation" data-l10n-id="ep_commendation_recommendation_weave.toolbar.recommendation.title">
    <a data-l10n-id="ep_commendation_recommendation_weave.toolbar.recommendation.title"
       class="a-buttonicon-recommendation"
       title="Highlight"
       aria-label="Recommendation">
        <button class="buttonicon buttonicon-recommendation"></button>
    </a>
</li>
