@import url("pad/normalize.css");

@import url("pad/layout.css");
@import url("pad/fonts.css");
@import url("pad/toolbar.css");
@import url("pad/popup.css");
@import url("pad/popup_connectivity.css");
@import url("pad/popup_import_export.css");
@import url("pad/popup_users.css");
@import url("pad/icons.css");
@import url("pad/chat.css");
@import url("pad/gritter.css");
@import url("pad/loadingbox.css");
@import url("pad/form.css");

html {
  font-size: 15px;
  color: #3e3e3e;
}

html,
#sidedivinner > div:before {
  font-family: Roboto;
}

.clear {
  clear: both
}
a {
  color: inherit;
}
a img {
  border: 0
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
}
.thin-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #C5C5C5;
}

.buttontext::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.buttontext:focus{
  /* Not sure why important is required here but it is */
  border: 1px solid #666 !important;
}
.rtl {
  direction: RTL
}

/* fix for misaligned checkboxes */
input[type=checkbox] {
  vertical-align: -1px
}
input {
  color: inherit;
}
.right {
  float: right
}

@media (max-width: 800px) {
  .hide-for-mobile { display: none; }
}

.etherpadBrand{
  width:20%;
  max-width:100px;
  margin-left:auto;
  margin-right:auto;
}

.firepad-tooltip {
    position: absolute;
    padding: 5px 10px 5px 24px;
    border-radius: 2px;
    background-color: rgba(58, 58, 55, 0.9);
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    pointer-events: none;
}

.firepad-tooltip::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    mask-size: cover;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 8px;
}

.firepad-tooltip.firepad-commendation-tooltip::before {
    mask: url(../img/commendation.svg) no-repeat center center;
    -webkit-mask: url(../img/commendation.svg) no-repeat center center;
}

.firepad-tooltip.firepad-recommendation-tooltip::before {
    mask: url(../img/recommendation.svg) no-repeat center center;
    -webkit-mask: url(../img/recommendation.svg) no-repeat center center;
}


.firepad-btn-tooltip:hover span.commendationAndRecommendation::before {
    display: block;
}