<div class="popup acl-write image-upload-dialog toolbar-popup">
    <div class="hyperlink-container popup-content">

        <div class="tab-group">
            <div class="tab evidence-images active">Evidence image</div>
            <div class="tab image-url">Image URL</div>
        </div>

        <div class="content-wrap">

            <div class="input-wrapper evidence-images">
                <label data-l10n-id="ep_image_upload_weave.popup.label.tab_1">EVIDENCE IMAGE*</label>
                <select class="input evidence-images"
                        data-l10n-id="ep_image_upload_weave.popup.label.evidence_files_list">
                    <option value="" selected></option>
                </select>
                <div class="error-message evidence-images" hidden>Please choose an evidence image.</div>

            </div>

            <div id="uploadWrapper" class="input-wrapper upload-image">
                <p class="header" style="pointer-events: none">Drop a file to instantly upload it</p>
                <div class="ion-android-upload ionicon upload-icon" style="pointer-events: none"></div>
                <p class="subheader" style="pointer-events: none">Or click <span id="uploadWrapperOnclick" class="upload-file-on-click-area">here</span>
                    to choose a file from your computer</p>
            </div>

            <div class="input-wrapper image-url" hidden>
                <label data-l10n-id="ep_image_upload_weave.popup.label.link_url">IMAGE URL*</label>
                <input type="text" class="input image-url" placeholder="http://..."/>
                <div class="error-message image-url" hidden>Please enter a valid URL.</div>
            </div>

            <div class="action-btns-wrap">
                <button type="button" class="btn btn-secondary cancel-image-btn"
                        data-l10n-id="ep_image_upload_weave.popup.cancel">Cancel
                </button>
                <button type="button" class="btn btn-primary insert-image-btn"
                        data-l10n-id="ep_image_upload_weave.popup.insertImage">Insert image
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .tab-group {
        display: flex;
        border-bottom: 1px solid #cccccc;
    }

    .tab {
        padding: 10px 20px;
        font-size: 14px;
        color: #4b4c45;
        cursor: pointer;
    }

    .tab.active {
        border-bottom: 2px solid #4b4c47;
    }

    .input ul {
        width: 100%;
    }

    .content-wrap {
        width: 100%;
        margin-top: 25px;
    }

    .input-wrapper {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    .input-wrapper label {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .input {
        display: inline-block;
        clear: both;
        width: 100%;
    }

    .image-upload-dialog.popup {
        position: absolute;
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.32);
    }

    .action-btns-wrap {
        text-align: center;
    }

    .centered-buttons {
        display: flex;
        justify-content: center;
    }

    .input-wrapper.upload-image {
        text-align: center;

        & .header {

        }

        & .subheader {
            margin-top: 0.2rem;
            margin-bottom: 0.5rem;
            font-weight: normal;
            line-height: 1.4;
            color: #8a8a8a;

            & span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .file-over {
        opacity: .8;
        background: #faf8f3;
    }

    .upload-file-on-click-area {
        pointer-events: auto;
        cursor: pointer;
    }

    .error-message {
        width: 100%;
        background-color: #b21716;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        padding: 9px 15px 7px;
        margin: 5px 0px;
        border-radius: 8px;
    }
</style>
